@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.input {
    border-radius: 3em;
    outline:none;
    border: none;
    padding: 1em 2em;
    background-color: #583d72;
    color: white;
    font-weight: bold;
}


::placeholder {
    text-align: center;
    color: white;
    font-weight: bold;
}